.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-heading {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
}
