.recent-match-card {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.recent-match-logo {
  height: 90px;
  width: 60px;
}
.recent-match-content {
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}
