.dashboard {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
}
.ipl-logo {
  height: 100px;
  width: 70px;
  margin: 10px;
}
.dashboard-heading {
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
.teams-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
