.CSK-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #f7db00, black);
}
.RCB-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #a4261d, black);
}
.KKR-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #1e293b, black);
}
.KXP-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #d91c1f, #ffffff);
}
.RR-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #da237b, #13418b);
}
.MI-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #13418b, #ffffff);
}
.SH-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #f26d22, black);
}
.DC-card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #f26d22, #4f5db0);
}
.team-card-img {
  height: 30vh;
  width: 50vw;
  margin: 14px;
  border-radius: 10px;
}
.latest-match-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f172a;
  width: 100vh;
  border-radius: 10px;
}
.latest-match-content-container {
  margin-left: 20px;
  margin-right: 10px;
}
.competing-logo {
  height: 120px;
  width: 130px;
  margin: 15px;
  margin-right: 35px;
}
.latest-match-content {
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
}
.latest-match-content-headings {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.bg-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
